@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Onest', sans-serif;
}

video {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: -10;
  visibility: visible;
}

section:fullscreen {
  background-color: white;
}