:root {
  background:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('./assets/alistair-macrobert-4TKFpJPnyU8-unsplash.jpg');
  background-size: cover;
}

body {
  margin: 0px;
  padding: 0px;
}

.full-screen-toogle {
  background:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('./assets/alistair-macrobert-4TKFpJPnyU8-unsplash.jpg');
  background-size: cover;
}

.full-screen-float-button {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.new-year {
  color: rgba(255, 255, 255, 0.47);
}